@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

.wrapper {
   border-radius: 20px;
   box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.04);
   background: #fff;
   max-width: 1080px;
   margin: 50px auto;
}

.title-1{
  font-size: 32px;
  font-weight: 700;
  color: #000;
}

.listing{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-column-gap: 40px;
  grid-row-gap: 52px;
}